.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
f-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
f-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}