.container{
    max-width: inherit;
}
.button-click{
    max-width: 100%; 
    text-decoration: none; 
}
.button-click:hover{
    cursor: pointer;
}
.rating{
    background-color: rgb(36, 150,63 );
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 2px;
}
.desc{
    text-align: center;
    color: #777;
}

