.container{
    max-width: inherit;
}
.button-click{
    max-width: inherit; 
    text-decoration: none; 
    border-radius: 20px;
    border: none;
    padding: 0px;
}
.button-click:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 8px 8px rgb(194, 186, 186);
}

.image-11 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 20px; */
}
.rating{
    background-color:rgb(36, 150,63 ) ;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 2px;
}
.desc{
    text-align: center;
    color: #777;
}
.hotel-list{
    border-radius: 20px;
}
.title-hotel{
    color: black;
}

