.image-logo {
  padding-left: 20px;
  padding-right: 30px;
  max-width: 140px;
  margin-bottom: 10px;
  height: 27px;
  padding-bottom: 6px;
}

.header-right {
  padding-top: 18px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.header-location-bar {
  height: 54px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: rgba(25, 135, 207, 0.08) 0px 2px 8px;
  border: 1px solid rgb(232, 232, 232);
  width: 650px;
  background-color: rgb(255, 255, 255);
}

.location-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.location-icon {
  display: flex;
  color: grey;
  margin-right: 10px;
}

.iconloc {
  color: grey;
  font-size: 20px;
  margin-right: 8px;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-first {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.no-results {
  padding: 10px;
}

.search-list,
.no-results {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 2px;
  border-top: none;
  margin-top: 5px;
  margin-left: 158px;
  z-index: 10;

}



.result-item {
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  height: 30px;
}

.result-item:hover {
  background-color: rgb(201, 201, 201);
}

.search-icon {
  font-size: 20px;
  color: grey;
  margin: 0px 12px;
}

.search-text {
  border: none;
  outline: none;
  font-size: 14px;
  height: 55px;
  width: 1000px;
  max-width: 470px;
  box-sizing: border-box;
}

.profile-wrapper {
  height: 90px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  width: 450px;
  align-items: center;
}

.cart-bar {
  margin-bottom: 10px;
  font-weight: 500;
}

.account-details {
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 500;
}

.header-profile-image {
  padding-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color:white;
}
.dropdownmenu {
  display: none;
}

.header-username {
  color:white;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}


.cart-bar {
  text-decoration: none;
  padding-left: 80px;
  width: 130px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.mycart-icon {
  padding-top: 8px;
  text-decoration: none;
  cursor:default;
  font-size: 35px;
  color:white;
}

.header-profile-image {
  cursor: default;
}

.mycart-name {
  text-decoration: none;
  color: white;
}

.seperator {
  height: 20px;
  border: 0.5px solid grey;
}

.NavBar {
  /* background-color:rgb(59, 56, 56); */
  height: 100px;
}

.account-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.mycart-name:hover {
  color: lightgreen;
  cursor: pointer;
  margin-bottom: 7px;
}

.header-username:hover{
  color: lightgreen;
  cursor: pointer;
  margin-bottom: 10px;
}
.header-home{
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: rgb(60, 60, 60);
  align-items: center;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .nav_cointer {
    border-bottom: none;
  }

  .order-history-item {
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 10px;
  }

  .history_head {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid black;
  }

  .history_hotel_name {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
  }

  .order-history-date {
    font-size: 14px;
    text-align: center;
  }

  .history-body {
    margin: 10px 0;
  }

  .hheading {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .hhitem {
    margin: 10px 0;
  }

  .table-cell,
  .h-price,
  .hquality {
    font-size: 14px;
  }

  .htotal {
    font-size: 18px;
    text-align: right;
    border-top: none;
    margin: 10px 10px 0;
    padding-top: 10px;
  }
}
