@import "./components/Navbar/NavBar.css";
@import "./components/Navbar/DropDownProfile.css";
@import "./components/Homepage/Home.css";
@import "./components/Homepage/Cards.css";
@import "./components/loginpage/login.css";
@import "./components/loginpage/aboutus.css";
@import "./components/loginpage/ContactUs.css";
@import "./components/Homepage/ProductList.css";
@import "./components/MyCart/MyCart.css";
@import "react-toastify/dist/ReactToastify.css";
@import "./components/Homepage/ProductList.css";
@import "./components/MyCart/MyCart.css";
@import "react-toastify/dist/ReactToastify.css";
@import "./components/Adminpage/Admin.css";
@import "./components/Footer/footer.css";
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .max-width{
  max-width: 100px;
  margin: 0px auto;
} */
/* .App {
  background-color:rgb(59, 56, 56);
} */
